:root { 
    --white-background-color: #FFFFFF;
    --white-color: #FFFFFF;
    --title-color: #2E2F42;
    --text-color: #434455;
    --button-background: #F4F4FD;
    --link-hover-color: #404bbf;
    --card-set-gap: 24px;
    --card-img-h2-margin: 32px;
    --card-h2-p-margin: 8px;
    --examples-text-content-padding: 32px 16px;
    --btn-border: 1px solid #e7e9fc;
    --btn-border-hover: 1px solid transparent;
    --icon-color: #8E8F99;
    --transition-hover-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --helper-text-color: #8E8F99;
    --link-color: #4d5ae5;
} 

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

/*-----HEADER-----*/

.header > .container {
    position: relative;
}

.desktop-header {
    display: none;
}

.mobile-header {
    padding: 24px 0;
    background-color: var(--white-background-color);
}

.mobile-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link-header {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 0px;
}

.logo-part {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu-open-btn {
    min-width: 32px;
    height: 22px;
    padding: 0;
    border: none;
    background-color: transparent;
    
}

.menu-open-icon {
    stroke: #2E2F42;
    background-color: transparent;
}

.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 24px 40px 40px;
    z-index: 10;
    background-color: var(--white-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;

}

.menu-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    /* opacity: 0.1; */
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: auto;
}

.menu-close-icon {
    fill: #2E2F42;
    background-color: transparent;
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mob-menu-link.current {
    color: var(--link-hover-color);
}

.mob-menu-address {
    font-style: normal;
    letter-spacing: 0.02em;
}

.mob-menu-address-list {
    margin-bottom: 48px;
}

.mob-menu-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-tel-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #4D5AE5;  
}

@media screen and (max-width: 408px) {
.mob-menu-tel-link {
    font-size: 26px;
    }
}

.mob-menu-mail-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
}



.mob-menu-soc-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 328px;
    margin-right: 60px;
}

.mob-menu-soc-item {
    width: 40px;
    height: 40px;
}

.mob-menu-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu-soc-icon {
    fill: #F4F4FD;;
}

/*-----HERO-----*/

.hero {
    padding: 112px 0;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bgmobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bgmobile@2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
}

/*-----ADVANTAGE-----*/

.advantage {
    padding: 96px 0;
}

.advantage-item {
    margin-bottom: 72px;
}

.advantage-item:last-child {
    margin-bottom: 0;
}

.advantage-icon {
    display: none;
}

.advantage-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.advantage-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
}

/*-----PRODUCT-----*/
.product {
    display: none;
}

/*-----OUR TEAM-----*/

.our-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.our-team>.container {
    max-width: 294px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.4px;
    color: var(--title-color);
    margin-bottom: var(--card-h2-p-margin);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.32px;
    color: var(--text-color);
    margin-bottom: var(--card-h2-p-margin);
}

.card-content {
    padding: 32px 16px;
}

.team-soc-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 232px;
    height: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-icon {
    fill: var(--button-background);
}

/*-----CUSTOMERS-----*/

.customers {
    padding: 96px 0;
}

.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 72px 16px;

}

.customers-item{
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.customers-icon{
    fill: currentColor;
}

/*-----FOOTER-----*/

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo-footer-part {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-soc-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-soc-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-icon {
    fill: var(--button-background);
}

.fotter-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-subscribe-form {
    width: 100%;
}

.footer-subscribe-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-color);
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.footer-subscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    min-width: 165px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #4D5AE5;
    border-radius: 4px;
    margin: 0 auto;
}

.footer-subscribe-icon {
    fill: var(--white-color);
    margin-left: 16px;
}

/*-----PortfolioPage-----*/

/*-----EXAMPLES------*/

.examples {
    padding-top: 96px;
    padding-bottom: 120px;
}

.examples-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 586px;
    gap: 24px;
    margin-bottom: 72px;
}

.examples-nav-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background-color: var(--button-background);
    border: var(--btn-border);
    padding: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: border-color var(--transition-hover-timing), color var(--transition-hover-timing), background-color var(--transition-hover-timing), box-shadow var(--transition-hover-timing);
}

.examples-nav-btn:hover,
.examples-nav-btn:focus {
    background-color: var(--link-hover-color);
    color: #FFFFFF;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: calc(-1 * var(--card-set-gap));
}

.examples-item {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    display: flex;
}

.examples-link {
    border: 1px solid #E7E9FC;
    transition: box-shadow var(--transition-hover-timing);
}

.examples-link:hover,
.examples-link:focus {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-link:hover .examples-overlay-text,
.examples-link:focus .examples-overlay-text {
    border-color:  #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translate(0);
    transition: transform var(--transition-hover-timing);
}

.examples-overlay {
    position: relative;
    overflow: hidden;
}

.examples-overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform var(--transition-hover-timing);
}

.examples-text-content {
    padding: var(--examples-text-content-padding);
    border-top: none;

}

.examples-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: var(--card-h2-p-margin);
}

.examples-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity var(--transition-hover-timing), visibility var(--transition-hover-timing);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-hover-timing);
    width: 392px;
    height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px 24px 24px 16px;
}

    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0);
    }

.modal-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-bottom: 24px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill var(--transition-hover-timing);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.32px;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-input-field {
    margin-bottom: 8px;
}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--helper-text-color);
    display: block;
    margin-bottom: 4px;
}

.input-field {
    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
}

.comment-input-field {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
}

.modal-comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-field {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--helper-text-color);
}

.fake-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: fill var(--transition-hover-timing), background-color var(--transition-hover-timing), border var(--transition-hover-timing);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.privacy-check:checked + .checkbox-label > span {
    background-color: var(--link-hover-color);
    border: none;
    fill: var(--button-background);
}

.privacy-link {
    color: var(--link-color);
}

.btn-send {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    letter-spacing: 0.04em;
    color: var(--white-color);
    padding: 16px 32px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

/*-----HEADER-----*/

    .mobile-header {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .desktop-header {
        display: flex;
    }

.header-nav {
    display: flex;
    align-items: center;
}
.logo-link-header {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 120px;
    padding: 0px;
} 
.logo-part {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    position: relative;
}

.menu-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #404BBF;
    border-radius: 2px;
    bottom: -1px;
}

.header-address {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #434455;
}

/*-----HERO-----*/

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bgtablet@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bgtablet@2x.jpg);
    }
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

.modal {
    width: 408px;
}

/*-----ADVANTAGE-----*/

.advantage-item-title {
    text-align: left;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.advantage-item {
    width: calc((100% - 24px) / 2);
}

/*-----OUR TEAM-----*/

.our-team>.container {
    max-width: 582px;
}

.team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
}

.team-item {
    width: calc((100% - 24px) / 2);
}

/*-----CUSTOMERS-----*/

.customers > .container {
    max-width: 582px;
}

.customers-list {
    gap: 72px 24px;
}

.customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
}

/*-----FOOTER-----*/

.footer > .container {
    max-width: 582px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
}

.footer-logo-text {
    align-items: flex-start;
}

.footer-soc-nav {
    align-items: flex-start;
}

.fotter-subscribe {
    align-items: flex-start;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
}

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

/*-----HEADER-----*/

.logo-link-header {
    margin-right: 76px;
}

.menu-link {
    transition: color var(--transition-hover-timing);
}

.menu-link:hover,
.menu-link:focus,
.menu-link.current {
    color: var(--link-hover-color);
}

.header-address {
    flex-direction: row;
}


.header-address-list {
    flex-direction: row;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--transition-hover-timing)
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--link-hover-color);
}

/*-----HERO-----*/

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg@1x.jpg);
    padding: 188px 0;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2x.jpg);
    }
}

.hero-title {
    margin-bottom: 48px;
}

.hero-btn {
    cursor: pointer;
    transition: background-color va(--transition-hover-timing)
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--link-hover-color);
}

.modal {
    width: 408px;
}

.modal-close-btn {
    transition: background-color var(--transition-hover-timing), border var(--transition-hover-timing);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: var(--white-color)
}

.modal-input {
    transition: border-color var(--transition-hover-timing);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input-icon {
    transition: fill var(--transition-hover-timing)
}

.modal-input:focus+svg {
    fill: #4D5AE5;
}

.modal-comment {
    transition: border-color var(--transition-hover-timing);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.btn-send {
    transition: background-color var(--transition-hover-timing);
}

.btn-send:hover,
.btn-send:focus {
    background-color: #404BBF;
}

/*-----ADVANTAGE-----*/

.advantage {
    padding: 120px 0;
}

.advantage-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
}

.advantage-item {
    margin-bottom: 0;
}

.advantage-icon {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
    margin-bottom: 8px;
}

.advantage-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
}

/*-----OUR TEAM-----*/

.our-team>.container {
    max-width: 1158px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
}

.team-soc-link {
    transition: background-color var(--transition-hover-timing);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--link-hover-color);
}

/*-----PRODUCT-----*/

.product {
    display: block;
    padding-bottom: 120px;
}

.product-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.product-list {
    display: flex;
    flex-direction: row;
    width: calc((1128-2*24)/3);
    gap: 24px;
}

/*-----CUSTOMERS-----*/

.customers {
    padding: 120px 0;
}

.customers>.container {
    max-width: 1158px;
}

.customers-list {
    gap: 24px;
    flex-wrap: nowrap;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    transition: color var(--transition-hover-timing), border-color var(--transition-hover-timing);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
}

/*-----FOOTER-----*/

.footer {
    padding: 100px 0;
}

.footer>.container {
    max-width: 1158px;
    flex-wrap: nowrap;
    gap: 0;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-soc-nav {
    margin-right: 80px;
}

.footer-soc-link {
    transition: background-color var(--transition-hover-timing);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-btn {
    cursor: pointer;
        transition: background-color var(--transition-hover-timing);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #404BBF;
}

}